
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Lobster&display=swap&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Roboto+Mono&display=swap');

$vanilla-cream: rgb(255, 246, 234);

:root {
    --vanilla-cream: rgb(255, 246, 234);
    --vanilla-cream-dark: rgb(235, 221, 204);
    --cherry-red-dark: #751212;
    --cherry-red: #AE3536;
    --cherry-red-light: #eb8989;
    --cherry-red-lighter: #faeade;
    --sea-foam-darkest: #2a4549;
    --sea-foam-darker: #165b64;
    --sea-foam-dark: #21737e;
    --sea-foam: #2B99A7;
    --sea-foam-light: #36c5d8;
    --sea-foam-lighter: #8fcbd3;
    --sea-foam-lightest: #b4f5fd;
    --cherry-red-faded: #AE353610;
    --milk-chocolate: #736269;
    --chocolate: #3a3434;
    --dark-chocolate: rgb(39, 38, 38);

    --hero-text-color: var(--vanilla-cream);
    --text-color: var(--chocolate);
    --selected-text-fg-color: var(--chocolate);
    --selected-text-bg-color: var(--sea-foam-lighter);
    --background-color: var(--vanilla-cream);
    --text-on-fill-color: var(--vanilla-cream);
    --fill-color: var(--sea-foam);
    --fill-color-hover: var(--sea-foam-light);
    --secondary-fill-color: var(--cherry-red);
    --separator-color: var(--milk-chocolate);
    --link-color: var(--sea-foam);
    --link-color-hover: var(--sea-foam-light);
    --accent-color: var(--cherry-red);
    --accent-fill-color: var(--cherry-red-lighter);
    --info-color: var(--text-color);
    --info-fill-color: var(--cherry-red-lighter);
}

@media (prefers-color-scheme: dark) {
    :root {
        --hero-text-color: var(--vanilla-cream-dark);
        --text-color: var(--vanilla-cream-dark);
        --selected-text-fg-color: var(--vanilla-cream-dark);
        --selected-text-bg-color: var(--sea-foam-darker);
        --background-color: var(--dark-chocolate);
        --text-on-fill-color: var(--vanilla-cream-dark);
        --fill-color: var(--sea-foam-dark);
        --fill-color-hover: var(--sea-foam);
        --secondary-fill-color: var(--cherry-red);
        --separator-color: var(--vanilla-cream-dark);
        --link-color: var(--sea-foam-lighter);
        --link-color-hover: var(--sea-foam-lightest);
        --accent-color: var(--cherry-red-light);
        --accent-fill-color: var(--chocolate);
        --info-color: var(--text-color);
        --info-fill-color: var(--chocolate);
    }
}

::-moz-selection {
    color: var(--selected-text-fg-color);
    background: var(--selected-text-bg-color);
}

::selection {
    color: var(--selected-text-fg-color);
    background: var(--selected-text-bg-color);
}

.navbar {
    color: var(--text-color)!important;
    background-color: var(--background-color)!important;
}

.navbar .navbar-collapse a {
    color: var(--text-color)!important;
}

.nav-item .nav-link:hover {
    text-decoration: underline!important;
}

a.app-logo.navbar-brand.active {
    width: fit-content;
    color: var(--text-color);
    font-family: "Lobster",  cursive;
    font-style: normal;
    text-decoration: underline;
    text-indent: 0.5em;
}

.header {
    border-bottom: 3px solid var(--fill-color);
    margin-bottom: 1.5em;
}

body {
    color: var(--text-color)!important;
    background-color: var(--background-color)!important;
    font-family: "Open Sans", sans-serif;
    font-size: medium;
    display: flex;
    flex-direction: column;
}

main {
    color: var(--text-color)!important;
    background-color: var(--background-color)!important;
    flex: 1 0 auto;
}

hr {
    color: var(--separator-color);
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-color-hover);
}

pre {
    border: 1px solid var(--accent-fill-color);
    border-radius: 5px;
    color: var(--accent-color)!important;
    background-color: var(--accent-fill-color);
    border-radius: 5px;
    min-width: 90%;
    max-width: 100%;
    padding: .5em;
}

:not(pre) > code {
    font-family: "Roboto Mono", monospace;
    color: var(--accent-color)!important;
    background-color: transparent!important;
    border: 1px solid var(--accent-fill-color)!important;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
}

kbd {
    color: var(--text-on-fill-color);
    background-color: var(--secondary-fill-color);
    border: 0px solid;
    border-radius: 3px;
    font-family: "Roboto Mono", monospace;
    font-size: small;
    font-weight: bold;
    padding-left: .25em;
    padding-right: .25em;
    padding: 1px 5px;
    box-shadow: 1px 1px 1px var(--text-color);
    margin: 3px;
}

dt {
    font-family: "Cherry Swash", serif;
}

dd {
    padding-left: 2em;
}

th {
    font-family: "Cherry Swash", serif;
    border-bottom: 1px solid var(--text-color)!important;
    border-top: 2px solid var(--text-color)!important;
    text-align: left;
    padding-right: 2em;
    background-color: var(--background-color)!important;
    color: var(--text-color)!important;
}

.terminal pre {
    color: var(--accent-color) !important;
}

tr, th, td, tbody {
    border-color: var(--text-color)!important;
    background-color: var(--background-color)!important;
}

table {
    border-color: var(--text-color)!important;
    border: 0px;
}

thead {
    border-color: var(--text-color)!important;
}

table tr:nth-child(2n+1) {
    color: var(--text-color)!important;
    background-color: var(--background-color)!important;
}

td {
    padding-right: 0.5em;
    padding-left: 0.5em;
    background-color: transparent!important;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    border-bottom: 1px solid var(--text-color);
}

.hero {
    height: unset;
    text-align: center;
    background-image: url("../images/halftone.png"), linear-gradient(var(--fill-color), #b62f2f);
    background-size: cover;
}

.hero h1 {
    color: var(--hero-text-color)!important;
    font-family: "Lobster", cursive;
    font-style: normal!important;
    font-weight: normal!important;
    text-shadow: 2px 2px 10px black;    
}

.hero h1 .display-3 {
    font-style: normal;
}

.hero p {
    text-shadow: 2px 2px 10px black;
    color: var(--hero-text-color)!important;
    font-family: "Cherry Swash", sans-serif;
    font-weight: bold;
    font-style: italic;
}

.est {
    color: var(--hero-text-color)!important;
    text-align: center;
    font-size: x-large;
    font-family: "Lobster", cursive;
    font-style: normal;
    font-weight: normal;
    text-shadow: 2px 2px 10px black;
}

div#download span {
    display:none
}

a.other-platforms {
    display: block;
    color: var(--hero-text-color)!important;
    text-decoration: underline;
}

a.other-platforms:hover {
    color: white!important;
}

html.plat-windows div#download span.win {
    display: block
}

html.plat-linux div#download span.linux {
    display: block
}

html.plat-osx div#download span.mac {
    display: block
}

html.plat-linux span.mac,
html.plat-linux span.windows,
html.plat-windows span.linux,
html.plat-windows span.mac,
html.plat-osx span.windows,
html.plat-osx span.linux {
    display:none
}

h1 {
    font-family: "Lobster", cursive;
    font-style: normal;
    font-weight: normal;
    color: var(--text-color)!important;

}

h2 {
    color: var(--text-color)!important;
    font-family: "Lobster", cursive;
    font-style: normal;
    font-weight: normal;
}

h3, h4, h5, h6 {
    color: var(--text-color)!important;
    font-family: "Cherry Swash", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
}

#download a.btn-primary {
    border: 0;
    color: var(--text-on-fill-color)!important;
    background-color: var(--fill-color)!important;
    font-family: "Cherry Swash";
    font-weight: bold;
    font-style: italic;
    box-shadow: 2px 2px 10px black!important;
}

#download a.btn-primary:hover {
    background-color: var(--fill-color-hover)!important
}

.nav-link,
.navbar-brand {
    font-family: "Cherry Swash", serif;
    color: var(--text-color)!important;
    background: var(--background-color)!important;
}

::after, header::before, footer::before {
    background-color: transparent!important;
    background-image: none!important;
}

footer, footer >* {
    color: var(--text-color) !important;
    background-color: var(--background-color) !important;
}

#donateAmountField {
    color: var(--text-color) !important;
    background-color: var(--background-color) !important;
    border: 1px solid var(--text-color);
}

#donateSubmit, #kMetaStore .button {
    color: var(--text-on-fill-color) !important;
    background-color: var(--fill-color) !important;
}

#donateSubmit:hover, #kMetaStore .button:hover {
    color: var(--text-on-fill-color) !important;
    background-color: var(--fill-color-hover) !important;
}

#kDonateForm {
    border-color: var(--background-color) !important;
    color: var(--info-color) !important;
    background-color: var(--info-fill-color) !important;
}

#kDonateForm a {
    margin-left: 0.5em;
    text-decoration: underline;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    color: var(--text-color) !important;
}

#kMetaStore {
    background-color: var(--info-fill-color);
}

#kFooterIncome {
    box-shadow: none;
}

.made-by-kde, .made-by-kde::before {
    color: var(--text-color)!important;
}

button.navbar-toggler::before {
    color: var(--text-color)!important;
}
