{{ define "head-import" }}
{{ $common := resources.Get "scss/custom.scss" }}
{{ $style := slice $common | resources.Concat "scss/bundle.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}
<main id="home">
<!-- Hero -->
<section class="hero halftone m-0 p-1">
<div class="row p-0 m-0 align-items-center ">
    <div class="col-lg-8 mx-auto my-auto px-2 justify-content-sm-center">
        <div class="lh-1 mx-auto my-4 px-2 py-2 justify-content-sm-center">
            <h1 class="display-1 fw-bold"><u>{{ .Site.Title }}</u></h1>
            <div class="est">{{ i18n "index.est" }}</div>
            <p>
                <span class="fs-3">
                    <br/>
                    {{ .Site.Params.description }}
                </span>
            </p>
        </div>
    </div>
</div>
<div class="row-fluid p-1 m-1">
    <div class="col-sm-7 mx-auto my-auto justify-content-sm-center text-center">
        <div id="download" class="m-0 p-0">
            <span class="win"><a class="btn btn-primary btn-lg" href="{{ "download#windows" | relLangURL }}">{{ i18n "index.download.windows" }}</a></span>
            <span class="linux"><a class="btn btn-primary btn-lg" href="{{ "download#linux" | relLangURL }}">{{ i18n "index.download.linux" }}</a></span>
            <span class="mac"><a class="btn btn-primary btn-lg" href="{{ "download#mac" | relLangURL }}">{{ i18n "index.download.mac" }}</a></span>
        </div>
        <div class="col-sm-7 mx-auto my-1 justify-content-sm-center text-center">
            <p><a href="{{ "download" | relLangURL }}" class="other-platforms">{{ i18n "index.download.other" }}</a></p>
        </div>
    </div>
</div>
</section>

<!-- FEATURETTES -->

<section class="container marketing my-5">

<div class="row featurette">
    <div class="col-md">
        <h2 class="featurette-heading">{{ i18n "index.feature.distraction" }}</h2>
        <p class="lead">
          {{ i18n "index.feature.distraction.description" }}
        </p>
    </div>
    <div class="col-md">
        <img data-holder-rendered="true" src="/images/mockup.png" alt="{{ i18n "index.feature.distraction.alt" }}"
            class="featurette-image bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto" />
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md order-md-2">
        <h2 class="featurette-heading">{{ i18n "index.feature.theme" }}</h2>
        <p class="lead">
          {{ i18n "index.feature.theme.description" }}
        </p>
    </div>
    <div class="col-md order-md-1">
        <img data-holder-rendered="true" src="/images/dark-theme.png" alt=""
            class="featurette-image bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto" />
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md">
        <h2 class="featurette-heading">{{ i18n "index.feature.live" }}</h2>
        <p class="lead">
          {{ i18n "index.feature.live.description" }}
        </p>
        <p class="lead">
          {{ i18n "index.feature.live.description2" }}
        </p>
    </div>
    <div class="col-md">
        <img data-holder-rendered="true" src="/images/html-preview.png" alt=""
            class="featurette-image bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md order-md-2">
        <h2 class="featurette-heading">{{ i18n "index.feature.navigation" }}</h2>
        <p class="lead">
          {{ i18n "index.feature.navigation.description" | safeHTML }}
        </p>
    </div>
    <div class="col-md order-md-1">
        <img data-holder-rendered="true" src="/images/outline.png" alt=""
            class="featurette-image bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto" />
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md">
        <h2 class="featurette-heading">{{ i18n "index.feature.focus" }}</h2>
        <p class="lead">
          {{ i18n "index.feature.focus.description" | safeHTML }}
        </p>
    </div>
    <div class="col-md">
        <img data-holder-rendered="true" src="/images/focusmode.png" alt=""
            class="featurette-image bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto" />
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md order-md-2">
        <h2 class="featurette-heading">{{ i18n "index.feature.document" }}</h2>
        <p class="lead">
          {{ i18n "index.feature.document.description" | safeHTML }}
        </p>
    </div>
    <div class="col-md order-md-1">
        <img data-holder-rendered="true" src="/images/statistics.png" alt=""
            class="featurette-image bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto" />
    </div>
</div>
</section>

<!-- END OF FEATURETTES -->


<!-- Featurette Grid -->

<section class="container marketing my-2">
<hr class="featurette-divider">
<div class="row row-cols-3 g-4 py-4">
    <div class="col-12 col-md d-flex align-items-start">
        <div>
            <h4 class="fw-bold mb-0"> {{ i18n "index.feature.grid.formats" }}</h4>
            <p>
                {{ i18n "index.feature.grid.formats.description" | safeHTML }}
                <ul>
                    <li>Pandoc</li>
                    <li>MultiMarkdown</li>
                    <li>commonmark</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="col-12 col-md d-flex align-items-start">
        <div>
            <h4 class="fw-bold mb-0">{{ i18n "index.feature.grid.hemingway" }}</h4>
            <p>
                {{ i18n "index.feature.grid.hemingway.description" | safeHTML }}
            </p>
        </div>
    </div>
    <div class="col-12 col-md d-flex align-items-start">
        <div>
            <h4 class="fw-bold mb-0">{{ i18n "index.feature.grid.drag" }}</h4>
            <p>
                {{ i18n "index.feature.grid.drag.description" | safeHTML }}
            </p>
        </div>
    </div>
</div>
<div class="row row-cols-3 g-4 py-4">
    <div class="col-12 col-md d-flex align-items-start">
        <div>
            <h4 class="fw-bold mb-0">MathJax</h4>
            <p>
                {{ i18n "index.feature.grid.mathjax" | safeHTML }}
            </p>
            <div class="col-md">
                <img data-holder-rendered="true" alt="MathJax" src="/images/math.png" alt=""
                    class="featurette-image bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto" />
            </div>
        </div>
    </div>
    <div class="col-12 col-md d-flex align-items-start">
        <div>
            <h4 class="fw-bold mb-0">{{ i18n "index.feature.grid.autosave" | safeHTML }}</h4>
            <p>
                {{ i18n "index.feature.grid.autosave.description" | safeHTML }}
            </p>
        </div>
    </div>
    <div class="col-12 col-md d-flex align-items-start">
        <div>
            <h4 class="fw-bold mb-0">{{ i18n "index.feature.grid.cheatsheet" | safeHTML }}</h4>
            <p>
                {{ i18n "index.feature.grid.cheatsheet.description" | safeHTML }}
            </p>
        </div>
    </div>
</div>
</section>

<section class="container my-2">
<hr class="featurette-divider">
<div class="row featurette">
    <h2 class="featurette-heading">{{ i18n "index.license" | safeHTML }}</h2>
    <p class="lead">
        {{ i18n "index.license.description" | safeHTML }}
    </p>
</div>
</section>
</main>
<script type="text/javascript">
let plat = 'windows'

if (/Mac OS X/.test(navigator.userAgent)) {
    plat = 'osx'
}
else if (/Linux|FreeBSD/.test(navigator.userAgent)) {
    plat = 'linux'
}

document.documentElement.className += ' plat-' + plat
</script>
{{ end }}
