{{/*
SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu@kde.org>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

<table class="table">
    <thead>
        <th scope="col">{{ i18n "download.distro" }}</th>
        <th scope="col">{{ i18n "download.commands" }}</th>
    </thead>
    {{- range $.Params }}
    <tr>
        <td>{{ i18n (print "download." .) }}</td>
        <td><pre>{{ index $.Page.Params.commands . }}</pre></td>
    </tr>
    {{- end }}
</table>
